.Tieude1{
    color: aquamarine;
}

.Tieude2{
    color: chocolate;
}

.Tieude3{
    color: blueviolet;
    font-style: bold;
}

#First{
    color: darkorange;
    font-style: italic;
}

.TD1{
    color: red;
}

.ND1{
    color:yellow;
}

.TD2{
    color: green;
}

.ND2{
    color: black;
}